.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-input {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
}

label {
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
}

input {
  height: 30px;
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
}

.addDate {
  width: 200px;
  color: white;
  background: black;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}

.addDate:hover {
  color: black;
  background: white;
}

.msg-erro {
  width: 50%;
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
  animation: showFromTop .3s forwards;
}

.msg-erro span {
  width: 100%;
  justify-content: center;
  background: #a70000;
  border: 2px solid black;
  border-radius: 10px;
  color: white;
  padding: 8px;
}

.container-modal {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
}

.container-modal.ativo {
  display: flex;
}

.modal {
  width: 500px;
  background: white;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  position: relative;
  animation: showFromTop .3s forwards;
}

.fechar {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 50px;
  height: 50px;
  border: 4px solid white;
  border-radius: 20px;
  background: #E54;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3);
  font-size: 1.2rem;
  color: white;
  font-family: 'IMB Plex Mono', monospace;
  cursor: pointer;
  outline: none;
}

.modal p {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.delete-date-modal {
  width: 150px;
  background: #696969;
  border: 2px solid #696969;
  border-radius: 5px;
  color: white;
  font-size: 24px;
  margin: 0 auto;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px; 
}

.delete-date-modal:hover {
  background: #a70000;
  border: 2px solid #a70000;
}

[data-container-countdown] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: showFromTop .3s forwards;
}

.title{
  display: flex;
  color: white;
  background: black;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 10px;
  position: relative;
}

.btn-delete {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 5px;
  right: -55px;
  background: #696969;
  border: 2px solid #696969;
  color: white;
  border-radius: 10px;
  font-size: 30px;
  cursor: pointer;
  padding: 5px;
  margin-left: 20px; 
  outline: none;
}

.btn-delete:hover {
  background: #a70000;
  border: 2px solid #a70000;
}

span {
  justify-content: center;
  text-align: center;
  width: 100%;
  font-size: 24px;
  font-weight: bold;

}

@media (max-width: 576px) {
  .main-title {
    font-size: 26px;
  }

  .container-input {
    width: 100% !important;
  }

  form {
    width: 100% !important;
  }

  .msg-erro {
    width: 100%;
  }

  .title {
    align-items: center;
    font-size: 24px;
    text-align: center;
  }

  .btn-delete {
    position: unset;
  }

  .fechar {
    width: 40px;
    height: 40px;
    right: -10px;
  }
}

@media (max-width: 885px) {
  form {
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
  }
  
  input {
    width: 90%;
  }
  .addDate {
    margin: 0 auto;
  }
}

/* Animations */

@keyframes showFromTop {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}